.red {
  background-color: #ff0000;
}
.blue {
  background-color: #00b0f0;
}
.green {
  background-color: #00b050;
}
.yellow {
  background-color: #ffff00;
}
.orange {
  background-color: #ed7d31;
}
.white {
  background-color: #fff;
}
